<header class="header no-bg">
  <div class="calHeader"><span class="leftText"> {{fa-icon "circle" class="circleEnabled"}} Your bookings</span><span class="middle"></span><span class="rightText">* Please note that you have to save appointments for them to persist.</span></div>
  <div class="calendar"></div>
</header>
